<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gridnt.pdms.mapper.PhysconnviewMapper">

    <select id="selectByF1046" resultType="com.gridnt.pdms.domain.Physconnview">
        select A.*,B.F1052_NO,C.F1046_NAME F1046_NAME_A , D.F1046_NAME F1046_NAME_B ,
        C.F1046_DESC F1046_DESC_A , D.F1046_DESC F1046_DESC_B,F.F1006_CODE F1006_CODE_A,G.F1006_CODE F1006_CODE_B
        from TB1053_PHYSCONNVIEW A,TB1052_CORE B ,TB1046_IED C,TB1046_IED D ,TB1048_PORTVIEW F,TB1048_PORTVIEW G
        where  A.F1046_CODE_A=C.F1046_CODE AND  A.F1046_CODE_B = D.F1046_CODE AND ( F1046_CODE_A =#{f1046Code,jdbcType=VARCHAR}
        OR F1046_CODE_B = #{f1046Code,jdbcType=VARCHAR} ) AND A.F1053_CODE = B.F1053_CODE
        AND A.F1048_CODE_A = F.F1048_CODE AND A.F1048_CODE_B=G.F1048_CODE
    </select>

    <select id="loadLogical" resultType="java.util.Map">
        SELECT C.F1046_CODE_IEDSEND , D.F1046_NAME F1046_NAME_IEDSEND,C.F1046_CODE_IEDRECV,E.F1046_NAME F1046_NAME_IEDRECV,
        C.F1046_DESC_IEDSEND ,C.F1046_DESC_IEDRECV ,C.F1065_APPID ,C.F1065_TYPE,C.F1065_CODE,C.F1065_STATUSCODE
        FROM TB1053_PHYSCONNVIEW A,TB1073_LPPBIVIEW B ,TB1065_LOGICALLINKVIEW C ,TB1046_IED D,TB1046_IED E
        WHERE A.F1053_CODE = B.F1053_CODE AND B.F1065_CODE = C.F1065_CODE
        AND C.F1046_CODE_IEDSEND = D.F1046_CODE AND C.F1046_CODE_IEDRECV = E.F1046_CODE
        AND  A.F1053_CODE = #{f1053Code,jdbcType = VARCHAR}
    </select>
</mapper>