package ${packageName}.domain;

#foreach ($import in $subImportList)
import ${import};
#end
import com.baomidou.mybatisplus.annotation.*;
import com.ruoyi.common.annotation.Excel;
import com.gridnt.common.web.entity.BaseEntity;
import com.baomidou.mybatisplus.annotation.TableName;
import lombok.Data;
import lombok.EqualsAndHashCode;
import lombok.experimental.Accessors;
import lombok.experimental.FieldNameConstants;

/**
 * ${subTable.functionName}对象 ${subTableName}
 * 
 * @author ${author}
 * @date ${datetime}
 */
@Data
@Accessors(chain = true)
@EqualsAndHashCode(callSuper = true)
@FieldNameConstants
@TableName("${subTableName}")
public class ${subClassName} extends BaseEntity {
#foreach ($column in $subTable.columns)
###if(!$table.isSuperColumn($column.javaField))
    /**
     * $column.columnComment
     */
#if($column.list)
#set($parentheseIndex=$column.columnComment.indexOf("（"))
#if($parentheseIndex != -1)
#set($comment=$column.columnComment.substring(0, $parentheseIndex))
#else
#set($comment=$column.columnComment)
#end
#if($parentheseIndex != -1)
    @Excel(name = "${comment}", readConverterExp = "$column.readConverterExp()")
#elseif($column.javaType == 'Date')
    @JsonFormat(pattern = "yyyy-MM-dd")
    @Excel(name = "${comment}", width = 30, dateFormat = "yyyy-MM-dd")
#else
    @Excel(name = "${comment}")
#end
#end
#if($column.isPk==1 && $column.isIncrement==1)
    @TableId(value = "${column.columnName}", type = IdType.AUTO)
    private $column.javaType $column.javaField;
#else
    @TableField("${column.columnName}")
    private $column.javaType $column.javaField;
#end
#end
###end

}
